/* ._references {} */

._references .ctn {
    display: grid;
    gap: var(--spacing-200);

}

@media (min-width: 1024px) {
    ._references .ctn {
        grid-template-columns: 1fr 1fr;
    }
}

._references .prose {
    max-width: 52ch;
}

._references .content p,
._references .content ul,
._references .content ol {
    color: var(--c-fgl);
}

._references .refs li:not(:first-child) {
    border-top: 1px solid var(--c-line);
    padding-top: var(--spacing-200);
}

._references .refs li {
    padding-bottom: var(--spacing-200);
}

._references .refs li > a {
    font-size: var(--text-100);
    font-family: var(--font-serif);
}

._references .refs li sub {
    display: block;
    color: var(--c-fgl);
    font-size: var(--text--100);
    margin-top: var(--spacing-050);
}

._references .refs li a {
    text-decoration: underline;
}