/* ._text {} */

._text .ctn {
    display: grid;
    gap: var(--spacing-200);

}

@media (min-width: 1024px) {
    ._text .ctn {
        grid-template-columns: 1fr 1fr;
    }
}

/* ._text .prose {} */

._text p,
._text ul,
._text ol {
    color: var(--c-fgl);
}

._text .links {
    gap: 1rem;
    display: flex;
    align-items: center;
}