/* ._text-triptych {} */

._text-triptych .ctn {
    max-width: var(--w-l);
    display: grid;
    gap: var(--gap);
}

@media (min-width: 1024px) {
    ._text-triptych .ctn {
        grid-template-columns: 1fr 1fr 1fr; 
    }    
}
