.btn {
    background: var(--c-fg);
    color: var(--c-bg);
    border-radius: 9999px;
    height: 2rem;
    padding: 0 0.5rem;
    font-size: var(--text-sm);
    text-align: center;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    text-decoration: none !important;
}

.link {
    color: var(--c-fg);
    font-size: var(--fs-m);
    text-decoration: underline;
}
