.button {
    background: black;
    color: white;
    border-radius: var(--rounded);
    font-family: var(--font-mono);
    text-transform: uppercase;
    padding: 0 10px;
    font-size: 14px;
    height: 26px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
}
