.default_heading {
  margin-top: var(--rhythm);
}

.default_heading .ctn {
  max-width: var(--w-s);
}

.default_heading h1 {
  text-align: center;
  font-size: var(--fs-2xl);
  font-family: var(--ff-serif);
  line-height: 1.2;
}
