img[loading="lazy"] {
	opacity: 0;
}

img[src*=".jpg"], 
img[src*=".jpeg"],
img[src*=".webp"] {
	background: #f1f1f1;
}

img[loading="lazy"][loaded] {
	animation-name: lazyImg;
	animation-duration: 200ms;
	animation-delay: 0ms;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
}

@keyframes lazyImg {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}