figure[is="lazy-img"] {
	position: relative;
	aspect-ratio: var(--aspect-ratio);
}

figure[is="lazy-img"] img-ph  {
	position: absolute;
	inset: 0;
	pointer-events: none;
	background: #f1f1f1;
	transition-property: opacity;
	transition-duration: 0.2s;
	transition-delay: 0.4s;
}

figure[is="lazy-img"] img[loaded] + img-ph {
	opacity: 0;
}
