#indicator {
	position: fixed;
	inset: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background: white;
	visibility: hidden;
	opacity: 0;
	transition-property: opacity, visibility;
	transition-duration: 0.4s;
	z-index: 9999;
}

body.htmx-request #indicator,
body.htmx-swapping #indicator,
body.htmx-settling #indicator {
	visibility: visible;
	opacity: 1;
}

#indicator .spinner,
#indicator .spinner {
	transition-duration: 0;
	transition-delay: 0;
	transition-property: visibility, opacity;
	visibility: hidden;
	opacity: 0;
}

body.htmx-request #indicator .spinner,
body.htmx-swapping #indicator .spinner {
	transition-duration: 0.4s;
	transition-delay: 1s;
	visibility: visible;
	opacity: 1;
}