lazy-video {
	display: block;
	position: relative;
	aspect-ratio: var(--aspect-ratio);
}

lazy-video video {
	z-index: 0;
	backface-visibility: hidden;
}

lazy-video-ph  {
	position: absolute;
	inset: 0;
	pointer-events: none;
	background: #f1f1f1;
	transition-property: opacity;
	transition-duration: 0.4s;
	transition-delay: 0.2s;
	z-index: 1;
}

lazy-video[loaded] lazy-video-ph {
	opacity: 0;
}
