lazy-img {
	display: block;
	position: relative;
	aspect-ratio: var(--aspect-ratio);
}

lazy-img lazy-img-ph  {
	position: absolute;
	inset: 0;
	pointer-events: none;
	background: #f1f1f1;
	transition-property: opacity;
	transition-duration: 0.4s;
	transition-delay: 0.2s;
}

lazy-img img[loaded] + lazy-img-ph {
	opacity: 0;
}
