figure:has(img[loading="lazy"]) {
	display: block;
	position: relative;
	aspect-ratio: var(--aspect-ratio);
}

figure:has(img[loading="lazy"]:not(loaded))  {
	position: absolute;
	inset: 0;
	pointer-events: none;
	background: #f1f1f1;
	transition-property: opacity;
	transition-duration: 0.4s;
}

lazy-img img[loaded] + lazy-img-ph {
	opacity: 0;
}
