site-menu {
    visibility: hidden;
    position: fixed;
    inset: 0;
    width: 100%;
    z-index: 9999;
}

site-menu[open="true"] {
    visibility: visible;
}

site-menu .veil {
    position: absolute;
    inset: 0;
    background: var(--c-veil);
}

site-menu .button {
    width: 100%;
    display: flex;
    padding: var(--rhythm) 0;
}

site-menu .dialog {
    position: absolute;
    inset: 0;
    padding: var(--gutter);
    background-color: var(--c-bg);
}

site-menu nav a {
    padding: 2rem var(--gutter);
    width: 100%;
    display: block;
    border-bottom: var(--border);
}
