/* #header {} */

#header nav {
    display: flex;
    justify-content: space-between;
    max-width: var(--site);
    padding: var(--gutter);
    width: 100%;
    align-items: center;
    margin: 0 auto;
}