site-menu {
	background: var(--c-white);
	display: none;
	inset: 0;
	position: fixed;
	text-align: center;
	z-index: 6000;
}

site-menu[data-state="true"] {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

site-menu button {
	position: absolute;
	right: var(--gutter);
	top: var(--gutter);
}

site-menu nav {
	display: grid;
	gap: 1rem;
}

site-menu a {
	display: block;
	width: 100%;
	font-size: var(--fs-l);
}

site-menu .ls {
	color: var(--c-fgl);
}
