/* #header {} */

#header nav {
    display: flex;
    justify-content: space-between;
    max-width: var(--ctn-max-width);
    padding: var(--ctn-padding);
    width: 100%;
    align-items: center;
    margin: 0 auto;
}
