/* #header {} */

#header nav {
    display: flex;
    max-width: var(--site);
    padding: var(--gutter);
    width: 100%;
    align-items: center;
    margin: 0 auto;
    gap: 0.5rem;
}

#header nav .logo {
    margin-right: auto;
    width: 6rem;
    height: auto;
}

#header nav .link {
    display: none;
}

@media (min-width: 1024px) {
    #header nav .link {
        display: block;
    }
}

#header nav .lang {
    color: var(--c-fgl);
}


#header .search {
    width: 2rem;
    padding: 0.4rem;
}

#header .search svg {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
