/* COLORS */

:root {
	--c-bg: rgb(255, 255, 255);
	--c-fg: rgb(5, 5, 5);
	--c-fgl: rgb(92, 92, 92);
	--c-hl: gold;
	--c-line: rgba(27, 26, 25, 0.1);
	--c-veil: rgba(27, 26, 25, 0.8);

	--c-green: #5ACB8E;
	--c-red: #f13e16;
}

/* SPACINGS */

:root {
	--rhythm: 6rem;
	--gap: 1rem;
	--gutter: 1rem;
	--header: 2.5rem;
}

/* TEXT */

:root {
	--font-serif: 'IBM Plex Serif', 'Times New Roman', Times, serif;
	--font-sans: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-family: var(--font-sans);
	font-size: 16px;	
	
	--fs-s: .8rem;
	--fs-m: 1rem;
	--fs-l: 1.5rem;
	--fs-xl: 2rem;
	--fs-2xl: 3rem;
}

@media (min-width: 1024px) {
	:root {
		font-size: 1vw;		
	}
}

@media (min-width: 1783px) {
	:root {
		font-size: 18px;		
	}
}