/* COLORS */

:root {
	--c-bg: rgb(255, 255, 255);
	--c-fg: rgb(5, 5, 5);
	--c-white: rgb(255, 255, 255);
	--c-black: rgb(5, 5, 5);
	--c-lightgray: #eaeaea;
	--c-darkgray: rgba(0, 0, 0, 0.7);
	--c-blue: #5593f0;
    --c-green: #5acb8e;
    --c-red: #ff6c4b;
}

/* SPACINGS */

:root {
	--rhythm: 8rem;
	--gap: 2rem;
	--gutter: 1rem;
	--site: 1920px;
	--header: 56px;
}

@media (min-width: 1024px) {
	:root {
		--header: calc(4rem - 0.015px);
	}
}


@media (min-width: 1783px) {
	:root {
		--header: 4rem;
	}
}


/* TEXT */

:root {
	--ff-serif: 'IBM Plex Serif', serif;
	--ff-sans: 'Inter', sans-serif;
	font-family: var(--ff-sans);
	font-size: 14px;	
	
	--fs-s: .8rem;
	--fs-m: 1rem;
	--fs-l: 1.5rem;
	--fs-xl: 2rem;
	--fs-2xl: 3rem;
}

@media (min-width: 1024px) {
	:root {
		font-size: 1vw;		
	}
}

@media (min-width: 1783px) {
	:root {
		font-size: 18px;		
	}
}

::selection {
    background-color: var(--c-red);
	color: var(--c-fg);
}