body[class*="htmx-"] {
	transition-property: opacity, transform;
	transition-duration: 600ms;
	transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}

body.htmx-request,
body.htmx-swapping {
	transform: translateY(10px);
	opacity: 0;

}

body.htmx-settling {
	transform: translateY(0);
	opacity: 1;
}
