/* COLORS */
:root {
	--c-bg: rgb(255, 255, 255);
	--c-fg: rgb(5, 5, 5);
	--c-fgl: rgb(92, 92, 92);
	--c-hl: gold;
	--c-line: rgba(27, 26, 25, 0.8);
	--c-ph: rgba(240, 236, 233, 0.7);
	--c-veil: rgba(27, 26, 25, 0.8);

	--c-green: #5ACB8E;
	--c-red: #f13e16;

	--leading-none: 1;
	--leading-100: 1.25;
	--leading-200: 1.375;
	--leading-300: 1.5;
	--leading-400: 1.625;
	--leading-500: 2;

	--rounded-xs: 1px;
	--rounded-sm: 0.125rem;
	--rounded: 0.25rem;
	
	--shadow: 0 1px 3px 0 rgba(0,0,0, 0.1), 0 1px 2px 0 rgba(0,0,0, 0.06);
	--shadow-md: 0 4px 6px -1px rgba(0,0,0, 0.1), 0 2px 4px -1px rgba(0,0,0, 0.06);
	--shadow-lg: 0 10px 15px -3px rgba(0,0,0, 0.1), 0 4px 6px -2px rgba(0,0,0, 0.05);
	--shadow-xl: 0 20px 25px -5px rgba(0,0,0, 0.1), 0 10px 10px -5px rgba(0,0,0, 0.04);
	--shadow-2xl: rgba(0,0,0, .025) 0 0 10px, rgba(0,0,0, .075) 0 5px 40px, rgba(0,0,0, .075) 0 30px 100px;
	--shadow-outline: currentColor 0 0 0 2px;
	--shadow-inset: inset 0 2px 4px 0 rgba(0,0,0, 0.06);

	--spacing-050: 0.5rem;
	--spacing-075: 0.75rem;
	--spacing-100: 1rem;
	--spacing-200: 2rem; 
	--spacing-300: 3rem;
	--spacing-600: 6rem;

	--text-xs: 0.75rem;
	--text-sm: 0.875rem;
	--text-base: 1rem;
	--text-lg: 1.125rem;
	--text-xl: 1.25rem;
	--text-2xl: 1.5rem;
	--text-3xl: 1.75rem;
	--text-4xl: 2.5rem;
	--text-5xl: 3rem;
	--text-6xl: 4rem;

	--font-serif: 'IBM Plex Serif', 'Times New Roman', Times, serif;
	--font-sans: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

:root {
	font-size: 16px;		
}

@media (min-width: 1024px) {
	:root {
		font-size: 1vw;		
	}
}

@media (min-width: 1920px) {
	:root {
		font-size: 16px;		
	}
}